<nav class="navbar navbar-inverse navcolor">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navlink" href="{% url 'index' %}">mp3player</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#search-item">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'playlists' %}">
                            <span class="glyphicon glyphicon-list"></span> Playlist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'addsong' %}">
                            <span class="glyphicon glyphicon-play-circle"></span> Add Song
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#myModalNorm">
                            <span class="glyphicon glyphicon-plus"></span> Create playlist
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_index' %}">
                            <span class="glyphicon glyphicon-wrench"></span> Admin Dashboard
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'user' request.user.username %}">
                            <span class="glyphicon glyphicon-user"></span> {{ request.user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout_user' %}">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login_user' %}">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="modal fade" id="search-item" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="search-form" method="post" action="{% url 'searchitem' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="search-input" name="search-input" type="text" class="form-control"
                                   placeholder="Search for song, artist, playlist or user!">
                        </div>
                        <button type="submit" class="btn btn-default" id="searchbtn">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</nav>