<div id="partial-playlist" class="col-xs-12 col-lg-6 controls playlist_parent">
    <div id="playlist-scroll" class="playlist_child">
        <div class="playlist-container">
            <ul>
                {% for playlist in playlists %}
                    <li class="">
                        <p id="btn{{ playlist.hash }}" class="glyphicon songitem"></p>
                        <a href="{% url 'play_playlist' playlist.hash %}">{{ playlist.title }}</a>
                        <a href="{% url 'manage_playlist' playlist.hash %}"> <span
                                class="glyphicon glyphicon-wrench"></span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>