<div class="col-xs-6 controls">
    <img id="cover-art" class="img-responsive cover-art" src="{{ song.source_jpg }}"/>
</div>
<div class="col-xs-6 controls">
    <div>
        <audio id='audioplayer' preload='auto' src="{{ song.source_mp3 }}"></audio>
        <p id="btnback" class="glyphicon glyphicon-step-backward player-button"></p>
        <p id="btnplay" class="glyphicon glyphicon-play player-button"></p>
        <p id="btnpause" class="glyphicon glyphicon-pause player-button" style="display: none"></p>
        <p id="btnforward" class="glyphicon glyphicon-step-forward player-button"></p>
    </div>
    <div class="progress-bar-container">
        <p id="current-time" class="">0:00</p>
        <div class="progress-bar__bg">
            <div id="bar" class="progress-bar__fg" style="width: 0;"></div>
        </div>
        <p id="duration-time" class="">0:00</p>
    </div>
    <div>
        <input id="vol-control"
               type="range"
               min="0" max="100"
               step="1"
        />
        <label id="volume-amount">50</label>
    </div>
    <div>
        <b id="title-name">{{ song.title }}</b>
        <a id="artist-name" href="/player/artist/{{ song.artist_hash }}">{{ song.artist_name }}</a>
    </div>
</div>