{% extends 'template.html' %}
{% block content %}
    <div class="container">
        <div class="col-xs-12">
            {{ title }}
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>

            {% if issong %}
                {% include 'widgets/mp3edit.html' with selected_song=selected_song %}
            {% endif %}
        </div>
    </div>
{% endblock %}
