{% extends 'template.html' %}
{% block content %}
    <div class="container">
        <div class="col-xs-12">
            {{ title }}
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>

            {% if issong %}
                <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>

                <p id="loadingmp3">loading...</p>
                <div id="waveform"></div>

                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-backward"></span> Delete before
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-fast-forward"></span> Delete after
                </button>
                <script>
                    var wavesurfer = WaveSurfer.create({
                        container: '#waveform'
                    });
                    wavesurfer.load('{{ selected_song.source_mp3 }}');
                    wavesurfer.on('ready', function () {
                        $('#loadingmp3').remove();
                        {#                        wavesurfer.play();#}
                    });
                    wavesurfer.on('seek', function () {
                        console.log('time: ' + wavesurfer.getCurrentTime())
                        wavesurfer.play()
                    });
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}
