/**
 * Demo Styles
 */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #2b2b2b;
    color: #87939a;
}

.demo {
    margin: 0 auto;
    width: 94%;
}

.demo h1 {
    margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(12, 12, 12, 0.83);
    text-align: center;
}

.navcolor {
    background-color: rgba(12, 12, 12, 0.83);
    color: #87939a;
    border-color: rgba(12, 12, 12, 0.83);
}

.navcolor:hover {
    border-color: #639751;
}

.navbarlin > a:hover {
    color: #639751;
}

/**
Audio Player
 */
.cover-art {
}

ul {
    list-style-type: none;
}

/**
controls
 */
.controls {

}

.active-song{
     color: #639751;
}

/**
player-button
 */
.player-button {
    color: #3c3f41;
    font-size: 3em;
}

.player-button:hover {
    color: #639751;
}

/**
artist-info
 */
.artist-controls {

}
.progress-bar-container{

}
/**
progress-bar
 */
.progress-bar {
    cursor: pointer;
    height: 12px;
    position: relative;
    width: 100%
}

.progress-bar:hover .progress-bar__fg {
    background-color: #1db954
}

.progress-bar:hover .progress-bar__slider {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.progress-bar__bg {
    background-color: #404040;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4px;
    width: 100%
}

.progress-bar__fg {
    background-color: #a0a0a0;
    border-radius: 2px;
    height: 4px;
    width: 0;
    -webkit-transition: background-color .1s cubic-bezier(.3, 0, .7, 1);
    transition: background-color .1s cubic-bezier(.3, 0, .7, 1)
}

.progress-bar__slider {
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .1s cubic-bezier(.3, 0, .7, 1);
    transition: -webkit-transform .1s cubic-bezier(.3, 0, .7, 1);
    transition: transform .1s cubic-bezier(.3, 0, .7, 1);
    transition: transform .1s cubic-bezier(.3, 0, .7, 1), -webkit-transform .1s cubic-bezier(.3, 0, .7, 1)
}

/**
 control-button
 */
.control-button {
    background-color: transparent;
    border: none;
    color: #a0a0a0;
    cursor: pointer;
    width: 32px;
    min-width: 32px;
    height: 32px;
    position: relative;
    -webkit-transition: all 33ms cubic-bezier(.3, 0, .7, 1);
    transition: all 33ms cubic-bezier(.3, 0, .7, 1)
}

.control-button:hover {
    color: #fff
}

.control-button:active {
    color: #a0a0a0
}

.control-button--active {
    color: #1db954
}

.control-button--active:hover {
    color: #1df269
}

.control-button--active:active {
    color: #a0a0a0
}

.control-button--active:active:hover {
    color: #1db954
}

